html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 150px;
}

textarea {
  min-height: 200px;
}

#header-container {
  padding: 40px 15px;
  text-align: center;
}

#message-container {
  margin-top: 20px;
}

.container {
  padding: 0 15px;
  .text-muted {
    margin: 20px 0;
  }
}

.fa-github {
  color: #333;
}

.fa-lastfm {
  color: #c3000d;
}

.fa-spotify {
  color: #7ab800;
}

.devicons-javascript {
  color: #FAC552;
}

.fa-lastfm, .fa-spotify, .devicons-javascript {
  vertical-align: middle;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;

  .col-xs-12 {
    margin: 15px 0;
    text-align: center;

    @media only(min-width: 768px) { text-align:left; }

    &.pull-right {
      @media only(min-width: 768px) { text-align:right; }
    }
  }
}
