.fa-coffee {
    color: #964B00;
}

.fa-github {
    color: #333;
}

.fa-lastfm {
    color: #c3000d;
}

.fa-spotify {
    color: #7ab800;
}

.fa-js {
    color: #FAC552;
}

.fa-node-js {
    color: #3C873A;
}

.fa-github,
.fa-lastfm,
.fa-spotify,
.fa-js,
.fa-node-js {
    vertical-align: middle;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}